<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Add Calories</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'tracker/styles.css' %}">
</head>
<body>
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-5">Add New Food</h1>
        </div>
        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-success">Add Entry</button>
        </form>
        <a class="btn btn-secondary mt-3" href="{% url 'index' %}">Cancel</a>
    </div>
</body>
</html>
